 //import fonts

 /* dm-serif-display-regular - latin */
 @font-face {
     font-family: 'DM Serif Display';
     font-style: normal;
     font-weight: 400;
     src: local(''),
         url('../fonts/dm-serif-display-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/dm-serif-display-v10-latin-regular.woff') format('woff');
     display: swap;
 }

 /* karla-regular - latin */
 @font-face {
     font-family: 'Karla';
     font-style: normal;
     font-weight: 400;
     src: local(''),
         url('../fonts/karla-v23-latin-regular.woff') format('woff2'),
         url('../fonts/karla-v23-latin-regular.woff') format('woff');
     display: swap;
 }

 /* karla-700 - latin */
 @font-face {
     font-family: 'Karla';
     font-style: normal;
     font-weight: 700;
     src: local(''),
         url('../fonts/karla-v23-latin-700.woff2') format('woff2'),
         url('../fonts/karla-v23-latin-700.woff') format('woff');
     display: swap;
 }

 //import functions first
 @import "../../node_modules/bootstrap/scss/functions";

 //default variable overrides

 $primary: hsl(256, 25%, 20%); //dark-violet;
 $secondary: hsl(216, 30%, 68%); //grayish-blue;
 $info: hsl(276, 4%, 46%); //dark-grayish-violet - changed lightness to pass contrast checks;
 $light: hsl(0, 0%, 98%); //very-light-gray;
 $dark: hsl(270, 9%, 17%); //very-dark-violet;

 $container-max-widths: (
     sm: 540px,
     md: 720px,
     lg: 960px,
     xl: 1140px,
     xxl: 1130px //changed this one only
 );

 $font-family-sans-serif: "Karla", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 $headings-font-family: "DM Serif Display", serif;

 $enable-rfs: false;

 $headings-font-weight: 400;
 $headings-line-height: 1;
 $h1-font-size: clamp(3rem, 2.5rem + 2vw, 4.5rem);
 $h2-font-size: clamp(2.5rem, 2.2rem + 1.4vw, 3.5rem);
 $h3-font-size: 1.8rem;
 $h4-font-size: 1rem;

 $link-decoration: none;
 $link-hover-decoration: underline;

 $nav-link-font-size: 0.875rem;
 $nav-link-font-weight: 700;
 $nav-link-padding-y: 0;

 $btn-border-width: 2px;
 $btn-border-radius: 0;
 $btn-border-radius-sm: 0;
 $btn-padding-x: 1.8rem;
 $btn-padding-x-sm: 1rem;
 $btn-line-height: 2;

 $list-inline-padding: 1rem;

 //required Bootstrap stylesheets
 @import "../../node_modules/bootstrap/scss/variables";
 @import "../../node_modules/bootstrap/scss/maps";
 @import "../../node_modules/bootstrap/scss/mixins";
 @import "../../node_modules/bootstrap/scss/utilities";

 //optional Bootstrap components
 @import "../../node_modules/bootstrap/scss/root";
 @import "../../node_modules/bootstrap/scss/reboot";
 @import "../../node_modules/bootstrap/scss/type";
 @import "../../node_modules/bootstrap/scss/images";
 @import "../../node_modules/bootstrap/scss/containers";
 @import "../../node_modules/bootstrap/scss/grid";
 @import "../../node_modules/bootstrap/scss/helpers/visually-hidden";
 @import "../../node_modules/bootstrap/scss/buttons";
 @import "../../node_modules/bootstrap/scss/transitions";
 @import "../../node_modules/bootstrap/scss/nav";
 @import "../../node_modules/bootstrap/scss/navbar";

 //custom styles

 .custom-hero {
     padding-bottom: 2rem;

     @media screen and (min-width: 768px) {
         padding-bottom: 0;
         margin-bottom: 10rem;
     }

 }

 section:first-child {
     margin-bottom: 4rem;

     @media screen and (min-width: 768px) {
         margin-bottom: 5rem;
     }
 }

 section:last-child {
     padding: 0 2rem;
     margin-bottom: 11.5rem;

     @media screen and (min-width: 768px) {
         padding: 0 5rem;
         margin-bottom: 9rem;
     }
 }

 //  .show .navbar-nav,
 //  .collapsing .navbar-nav {
 //     position: absolute;
 //     top: 4rem;
 //     left: 0;
 //     right: 0;
 //     height: 69vh;
 //     padding-top: 3rem;
 //     gap: 1.5rem;
 //     z-index: 999;
 //     background-color: $dark;
 //  }

 //  .show .nav-link,
 //  .collapsing .nav-link {
 //     font-size: 1.3rem;
 //     font-weight: 400;
 //     color: $light;
 //  }

 //  .show .btn-sm,
 //  .collapsing .btn-sm {
 //     width: 87%;
 //     color: $light;
 //     border-color: $light;
 //  }

 .navbar-collapse.show,
 .navbar-collapse.collapsing {
     position: absolute;
     top: 4rem;
     left: 0;
     right: 0;
     z-index: 999;
     background-color: $dark;
 }



 .navbar-collapse.show>.navbar-nav,
 .navbar-collapse.collapsing>.navbar-nav {
    height: 74vh;
     padding: 2.5rem 0;
     gap: 1.5rem;
 }

 .navbar-collapse.show .nav-link,
 .navbar-collapse.collapsing .nav-link {
     font-size: 1.3rem;
     font-weight: 400;
     color: $light;
 }

 .navbar-collapse.show .btn-sm,
 .navbar-collapse.collapsing .btn-sm {
    width: 87%;
    color: $light;
    border-color: $light;
 }




 p {
     line-height: 1.6;
 }

 h3 {
     letter-spacing: -0.9px;
 }

 h4 {
     font-family: $font-family-sans-serif;
     font-weight: $font-weight-bold;
 }

 a {
     text-transform: uppercase;
     font-weight: $font-weight-bold;
 }

 li {
     line-height: 2;
 }

 .nav-link {
     letter-spacing: 1.2px;
 }

 .btn-sm {
     letter-spacing: 1.5px;
 }

 .list-unstyled {
     margin-bottom: 0rem !important;
 }

 @media screen and (min-width: 768px) {
     picture img {
         //width: 540px;
         top: 16%;
         margin-bottom: -50px;
     }
 }

 .custom-lbr {

     //line break
     @media screen and (min-width: 768px) {
         display: block;
     }
 }

 hr {
     @media screen and (min-width: 768px) {
         margin-bottom: 2rem;
     }
 }

 @mixin deco-line {
     content: "";
     display: block;
     height: 45px;
     width: 150px;
     border-top: 1px solid $primary;
     opacity: 0.3;
     margin: 0 auto;

     @media screen and (min-width: 768px) {
         margin: unset;
         height: 65px;

     }
 }

 header .h1::before {
     @include deco-line();
     display: none;

     @media screen and (min-width: 768px) {
         display: block;
         border-color: currentColor;
     }
 }

 main .h1::before {
     @include deco-line();
 }


 @import "../../node_modules/bootstrap/scss/utilities/api";