 /* dm-serif-display-regular - latin */
 @font-face {
     font-family: 'DM Serif Display';
     font-style: normal;
     font-weight: 400;
     src: local(''),
         url('../fonts/dm-serif-display-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/dm-serif-display-v10-latin-regular.woff') format('woff');
 }

 /* karla-regular - latin */
 @font-face {
     font-family: 'Karla';
     font-style: normal;
     font-weight: 400;
     src: local(''),
         url('../fonts/karla-v23-latin-regular.woff') format('woff2'),
         url('../fonts/karla-v23-latin-regular.woff') format('woff');
 }

 /* karla-700 - latin */
 @font-face {
     font-family: 'Karla';
     font-style: normal;
     font-weight: 700;
     src: local(''),
         url('../fonts/karla-v23-latin-700.woff2') format('woff2'),
         url('../fonts/karla-v23-latin-700.woff') format('woff');
 }

 //import functions first
 @import "../../node_modules/bootstrap/scss/functions";

 //default variable overrides

 $primary: hsl(256, 26%, 20%); //dark-violet;
 $secondary: hsl(216, 30%, 68%); //grayish-blue;
 $info: hsl(273, 4%, 51%); //dark-grayish-violet;
 $light: hsl(0, 0%, 98%); //very-light-gray;
 $dark: hsl(270, 9%, 17%); //very-dark-violet;

 $font-family-sans-serif: "Karla", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 $headings-font-family: "DM Serif Display", serif;

 $enable-rfs: false;

 $headings-font-weight: 400;
 $headings-line-height: 1;
 $h1-font-size: clamp(3rem, 2.5rem + 2vw, 4.5rem);
 $h3-font-size: 1.8rem;
 $h4-font-size: 1rem;

 $link-decoration: none;
 $link-hover-decoration: underline;

 $btn-border-radius: 0;
 $btn-padding-x: 1.8rem;



 //required Bootstrap stylesheets
 @import "../../node_modules/bootstrap/scss/variables";
 @import "../../node_modules/bootstrap/scss/maps";
 @import "../../node_modules/bootstrap/scss/mixins";
 @import "../../node_modules/bootstrap/scss/utilities";

 //optional Bootstrap components
 @import "../../node_modules/bootstrap/scss/root";
 @import "../../node_modules/bootstrap/scss/reboot";
 @import "../../node_modules/bootstrap/scss/type";
 @import "../../node_modules/bootstrap/scss/images";
 @import "../../node_modules/bootstrap/scss/containers";
 @import "../../node_modules/bootstrap/scss/grid";
 @import "../../node_modules/bootstrap/scss/buttons";
 @import "../../node_modules/bootstrap/scss/transitions";
 @import "../../node_modules/bootstrap/scss/nav";
 @import "../../node_modules/bootstrap/scss/navbar";
 @import "../../node_modules/bootstrap/scss/list-group";



 $utilities: map-merge(
    $utilities,
    (
        "width": (
            property: width,
            class: w,
            values: (
              79: 79%,
            )
          )
    )
  );

 //custom styles

 p {
     line-height: 1.6;
 }

 h3 {
     letter-spacing: -0.9px;
 }

 h4 {
     font-family: $font-family-sans-serif;
     font-weight: $font-weight-bold;
 }

 a {
     text-transform: uppercase;
     font-weight: $font-weight-bold;
 }

 li {
     line-height: 2;
 }

 @import "../../node_modules/bootstrap/scss/utilities/api";

